@import "./variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  transition: background 0.4s ease;
}

body.void {
  background: black;
}


.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-root {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* Center the light-mode UI */
.light-ui {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

body.dark {
  background: #0b0b0b;
}

