.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.app.light {
  background: #f3f3f3;
}

.app.dark {
  background: #000;
}
